[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/PaperMod-Square"]
	path = themes/PaperMod-Square
	url = https://github.com/lisolaris/PaperMod-Square.git
