{{if not .IsHome}}
<script id="giscus-script"
        src="https://giscus.app/client.js"
        data-repo="lisolaris/lisolaris.github.io"
        data-repo-id="R_kgDOI1UN9A"
        data-category="Announcements"
        data-category-id="DIC_kwDOI1UN9M4CoQUt"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{end}}

<script>
(function (){
    let footer = document.querySelector("footer.footer");
    footer.insertAdjacentHTML("beforeend", "<br>");
    footer.insertAdjacentHTML("beforeend", '<a href="https://icp.gov.moe/?keyword=20251096" target="_blank">萌ICP备20251096号</a>');
})();
</script>